// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

// scss-docs-start gray-color-variables

//
// Global colors
//


// Required

@import "bootstrap/scss/variables";

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $red;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
));

@import "bootstrap/scss/variables-dark";

$main-color: $blue;

// // scss-docs-start sass-dark-mode-vars
// // scss-docs-start theme-text-dark-variables
// $primary-text-emphasis-dark:        tint-color($primary, 40%);
// $secondary-text-emphasis-dark:      tint-color($secondary, 40%);
// $success-text-emphasis-dark:        tint-color($success, 40%);
// $info-text-emphasis-dark:           tint-color($info, 40%);
// $warning-text-emphasis-dark:        tint-color($warning, 40%);
// $danger-text-emphasis-dark:         tint-color($danger, 40%);
// $light-text-emphasis-dark:          $gray-100;
// $dark-text-emphasis-dark:           $gray-300;
// // scss-docs-end theme-text-dark-variables

// // scss-docs-start theme-bg-subtle-dark-variables
// $primary-bg-subtle-dark:            shade-color($primary, 80%);
// $secondary-bg-subtle-dark:          shade-color($secondary, 80%);
// $success-bg-subtle-dark:            shade-color($success, 80%);
// $info-bg-subtle-dark:               shade-color($info, 80%);
// $warning-bg-subtle-dark:            shade-color($warning, 80%);
// $danger-bg-subtle-dark:             shade-color($danger, 80%);
// $light-bg-subtle-dark:              $gray-800;
// $dark-bg-subtle-dark:               mix($gray-800, $black);
// // scss-docs-end theme-bg-subtle-dark-variables

// // scss-docs-start theme-border-subtle-dark-variables
// $primary-border-subtle-dark:        shade-color($primary, 40%);
// $secondary-border-subtle-dark:      shade-color($secondary, 40%);
// $success-border-subtle-dark:        shade-color($success, 40%);
// $info-border-subtle-dark:           shade-color($info, 40%);
// $warning-border-subtle-dark:        shade-color($warning, 40%);
// $danger-border-subtle-dark:         shade-color($danger, 40%);
// $light-border-subtle-dark:          $gray-700;
// $dark-border-subtle-dark:           $gray-800;
// // scss-docs-end theme-border-subtle-dark-variables

// $body-color-dark:                   $gray-300;
// $body-bg-dark:                      $gray-900;
// $body-secondary-color-dark:         rgba($body-color-dark, .75);
// $body-secondary-bg-dark:            $gray-800;
// $body-tertiary-color-dark:          rgba($body-color-dark, .5);
// $body-tertiary-bg-dark:             mix($gray-800, $gray-900, 50%);
// $body-emphasis-color-dark:          $white;
// $border-color-dark:                 $gray-700;
// $border-color-translucent-dark:     rgba($white, .15);
// $headings-color-dark:               inherit;
// $link-color-dark:                   tint-color($primary, 40%);
// $link-hover-color-dark:             shift-color($link-color-dark, -$link-shade-percentage);
// $code-color-dark:                   tint-color($code-color, 40%);
// $mark-color-dark:                   $body-color-dark;
// $mark-bg-dark:                      $yellow-800;
// $body-bg-dark:                      shade-color($primary, 90%);


// //
// // Forms
// //

// $form-select-indicator-color-dark:  $body-color-dark;
// $form-select-indicator-dark:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");

// $form-switch-color-dark:            rgba($white, .25);
// $form-switch-bg-image-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>");

// // scss-docs-start form-validation-colors-dark
// $form-valid-color-dark:             $green-300;
// $form-valid-border-color-dark:      $green-300;
// $form-invalid-color-dark:           $red-300;
// $form-invalid-border-color-dark:    $red-300;
// // scss-docs-end form-validation-colors-dark


// //
// // Accordion
// //

// $accordion-icon-color-dark:         $primary-text-emphasis-dark;
// $accordion-icon-active-color-dark:  $primary-text-emphasis-dark;

// $accordion-button-icon-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
// $accordion-button-active-icon-dark:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
// // scss-docs-end sass-dark-mode-vars


@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//

@import "icon-list";

.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.color-modes {
  .dropdown-menu {
    padding: .25rem;

    li + li {
      margin-top: .125rem;
    }
  }

  .dropdown-item {
    @include border-radius(.25rem);
  }

  .active {
    font-weight: 600;

    .bi {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }
}